// @import 'src/styles/abstracts/functions/_get-color';
.footer {
  .footer__container {
    height: 70px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__author {
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    color: white;
    flex: 0 1 auto;
  }
  .footer__link-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
  .footer__list-item {
    margin: 0.5rem;
  }
}
